<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title>급여차감 방지기</title>

    <link rel="stylesheet" href="../static/css/styles.css" />
</head>
<body>
<div class="container">
    <div class="top-banner">
        <div class="top-banner__text">
            <img src="../static/images/ic-info.svg" alt="info" />
            참고용으로 사용하시기 바랍니다.<br />
            09:00 ~ 10:30 그룹웨어 서버 부하로 지연될 수 있으니 해당 시간 외에
            사용해주세요.
        </div>
        <div class="top-banner__button">
            <a class="btn-groupware" href="http://gwintra.lunasoft.co.kr/loginForm.do" alt="그룹웨어 가기">그룹웨어 가기</a>
        </div>
    </div>
    <main>
        <div class="main__image">
            <img src="../static/images/bg-sign.png" alt="login" />
        </div>
        <div class="main__form">
            <form class="main__sign-form">
                <h1>급여차감 방지기</h1>
                <label for="id">그룹웨어ID </label>
                <input
                        id="id"
                        type="text"
                        name="id"
                        class="sign-id check"
                        placeholder="그룹웨어 ID(사번)를 입력해주세요."
                />
                <label for="password">그룹웨어PW</label>
                <input
                        id="password"
                        type="password"
                        name="password"
                        class="sign-password"
                        placeholder="그룹웨어 Password를 입력해주세요."
                />
                <!-- 👇 버튼에 .active 클래스 붙으면 버튼 컬러 변경 -->
                <button class="btn-sign">Log in</button>
            </form>
        </div>
    </main>
</div>

<!-- 땡! -->
<div class="modal-container">
    <div class="modal-dim"></div>
    <div class="modal-body">
        <div class="modal-contents">
            <img src="./images/login-failed.png" alt="로그인 실패">
        </div>
        <button class="btn-resign">다시 시도하기</button>
    </div>
</div>

</body>
<script th:inline="javascript">
    const login = function () {
        document.getElementById("loginBtn").setAttribute("disabled", "true");
        document.getElementById("loginBtnSpinner").setAttribute("style", "display: inline-block");
        document.getElementById("loginForm").submit();
    }
</script>
</html>
