<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>woking</title>
</head>
<body>
<div style="width: 1100px; margin: 20px 0 100px 20px;">
    <a href="/" style="float:right">로그아웃</a>
    <h1 style="text-align: center;">근태 계산기 </h1>
    <div style="float:left; width: 30%; padding-bottom: 8px">
        <div class="spinner-border" id="loading" role="status" style="display: none">
        </div>
        <form id="newWorkList" action="/workList" method="get" style="display: block">
            <select id="year" class="form-select" style="width: 35%;display: inline;" onchange="changeDate()">
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
            </select>
            <select id="month" class="form-select" style="width: 25%;display: inline;" onchange="changeDate()">
                <option th:each="num : ${#numbers.sequence(1,12)}" th:text="${#numbers.formatInteger(num, 2)}"
                        th:value="${#numbers.formatInteger(num, 2)}"></option>
            </select>

            <input type="hidden" id="workingMonth" name="workingMonth" th:value="${workingMonth}">
        </form>
    </div>
    <div style="float:right; padding-bottom: 8px">
        <button class="btn btn-md btn-primary btn-block" id="excelDownBtn" onclick="exportTableToCsv()">
            엑셀다운
        </button>
    </div>
    <table id="workingTable" style="margin-top: 20px" class="table table-bordered">
        <colgroup>
            <col width="10%"/>
            <col width="18%"/>
            <col width="18%"/>
            <col width="11%"/>
            <col width="12%"/>
            <col width="13%"/>
            <col/>
        </colgroup>
        <thead>
        <tr>
            <th>근무일자</th>
            <th>출근시각</th>
            <th>퇴근시각</th>
            <th>근무시간 (분)</th>
            <th>일일근무시간 (분)</th>
            <th>근무시간</br>-일일근무시간 (분)</th>
            <th>비고</th>
        </tr>
        </thead>
        <th:block th:if="${workingInfos}">
            <tbody>
            <tr th:each="workingInfo : ${workingInfos}">
                <td th:text="${#temporals.createDate(workingInfo.carDate, 'yyyyMMdd')}"></td>
                <th:block
                        th:if="${realTimeCalc} and ${#dates.format(#dates.createNow(), 'yyyyMMdd')} == ${workingInfo.carDate}">
                    <td id="toDayStartTime" th:text="${workingInfo.startDate}"></td>
                    <td id="toDayEndTime"></td>
                    <td id="toDayDiffTime" th:text="${workingInfo.diffTime}"></td>
                    <td id="toDayOriginTime" th:text="${workingInfo.originTime}"></td>
                    <td id="toDayMinusTime" th:text="${workingInfo.minusTime}"></td>
                </th:block>
                <th:block
                        th:unless="${realTimeCalc} and ${#dates.format(#dates.createNow(), 'yyyyMMdd')} == ${workingInfo.carDate}">
                    <td th:text="${workingInfo.startDate}"></td>
                    <td th:text="${workingInfo.endDate}"></td>
                    <td th:text="${workingInfo.diffTime}"></td>
                    <td th:text="${workingInfo.originTime}"></td>
                    <td th:text="${workingInfo.minusTime}"></td>
                </th:block>
                <td th:text="${workingInfo.note}"></td>
            </tr>
            <tr th:if="${#lists.size(workingInfos)} > 0">
                <td colspan="7"></td>
            </tr>
            <tr th:if="${#lists.size(workingInfos)} > 0">
                <td></td>
                <td></td>
                <td>합계</td>
                <td id="totalWorkingTime" th:text="${totalWorkingTime}"></td>
                <td th:text="${totalDiffTime}"></td>
                <td id="totalMinusTime" th:text="${totalMinusTime}" th:if="${totalMinusTime} < 0"
                    style="color: red"></td>
                <td id="totalMinusTime" th:text="${totalMinusTime}" th:unless="${totalMinusTime} < 0"></td>
                <td></td>
            </tr>
            <tr th:unless="${#lists.size(workingInfos)} > 0">
                <td colspan="7" style="text-align: center;">데이터가 없습니다.</td>
            </tr>
        </th:block>
        <tr th:unless="${workingInfos}">
            <td colspan="7" style="text-align: center;" th:if="${errorMessage}" th:text="${errorMessage}"></td>
        </tr>
        </tbody>
    </table>
    <br/>
</div>
</body>

<script th:inline="javascript">
    const workingMonth = [[${workingMonth}]];
    const totalMinusTime = [[${totalMinusTime}]] > 0 ? "+" + [[${totalMinusTime}]] : [[${totalMinusTime}]]
    document.getElementById("year").value = workingMonth.substring(0, 4)
    document.getElementById("month").value = workingMonth.substring(4, 6)
    let point = "";

    if ([[${realTimeCalc}]]) {
        realTimeCalc()
        setTimeout(() => {
            setInterval(realTimeCalc, 500);
        }, 1000)
    }

    function realTimeCalc() {
        const now = new Date();
        // 13시부터 증가
        let lunchTime;
        if (now.getHours() < 13) {
            lunchTime = 0;
        } else if (now.getHours() > 14) {
            lunchTime = 60;
        } else {
            lunchTime = (now - new Date().setHours(13, 0, 0, 0)) / 1000 / 60;
            if (lunchTime < 0) {
                lunchTime = 0;
            } else if (lunchTime > 60) {
                lunchTime = 60
            }
        }

        const toDayDiffTime = (now - new Date(document.getElementById("toDayStartTime").innerText)) / 1000;
        const toDayDiffMin = Math.floor(toDayDiffTime / 60) - lunchTime;
        const toDayDiffSec = Math.floor(toDayDiffTime % 60);
        document.getElementById("toDayDiffTime").innerText = toDayDiffMin.toString() + "." + toDayDiffSec.toString();
        document.getElementById("toDayMinusTime").innerText = (Number(toDayDiffMin) - Number(document.getElementById("toDayOriginTime").innerText)).toString();

        document.getElementById("totalWorkingTime").innerText = (Number([[${totalWorkingTime}]]) + toDayDiffMin).toString();
        document.getElementById("totalMinusTime").innerText = (Number([[${totalWorkingTime}]]) + toDayDiffMin - Number([[${totalDiffTime}]])).toString() + "\n ( 전일기준 : " + totalMinusTime + ")";

        if (point.length === 4) {
            point = ".";
        } else {
            point += ".";
        }
        document.getElementById("toDayEndTime").innerText = "업무 중 " + point;
    }

    function changeDate() {
        document.getElementById("newWorkList").setAttribute("style", "display:none")
        document.getElementById("loading").setAttribute("style", "display:block")
        document.getElementById("workingMonth").value = document.getElementById("year").value + "" + document.getElementById("month").value
        document.getElementById("newWorkList").submit();
    }

    function exportTableToCsv() {

        const filename = workingMonth + "_" + [[${username}]] + "_working.csv";
        const BOM = "\uFEFF";

        const table = document.getElementById('workingTable');
        let csvString = BOM;
        for (let rowCnt = 0; rowCnt < table.rows.length; rowCnt++) {
            const rowData = table.rows[rowCnt].cells;
            if (rowData.length > 1) {
                for (let colCnt = 0; colCnt < rowData.length; colCnt++) {
                    let columnData = rowData[colCnt].innerHTML;
                    if (columnData == null || columnData.length === 0) {
                        columnData = "".replace(/"/g, '""')
                    } else {
                        columnData = columnData.toString().replace(/"/g, '""').replace(/<[^>]*>?/g, ''); // escape double quotes
                    }
                    csvString = csvString + '"' + columnData + '",';
                }
                csvString = csvString.substring(0, csvString.length - 1);
                csvString = csvString + "\r\n";
            }
        }
        csvString = csvString.substring(0, csvString.length - 1);

        // IE 10, 11, Edge Run
        if (window.navigator && window.navigator.msSaveOrOpenBlob) {
            const blob = new Blob([decodeURIComponent(csvString)], {
                type: 'text/csv;charset=utf8'
            });
            window.navigator.msSaveOrOpenBlob(blob, filename);

        } else if (window.Blob && window.URL) {
            // HTML5 Blob
            const blob = new Blob([csvString], {type: 'text/csv;charset=utf8'});
            const csvUrl = URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.setAttribute('style', 'display:none');
            a.setAttribute('href', csvUrl);
            a.setAttribute('download', filename);
            document.body.appendChild(a);

            a.click()
            a.remove();
        } else {
            // Data URI
            const csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csvString);
            // const blob = new Blob([csvString], { type: 'text/csv;charset=utf8' });
            // const csvUrl = URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.setAttribute('style', 'display:none');
            a.setAttribute('target', '_blank');
            a.setAttribute('href', csvData);
            a.setAttribute('download', filename);
            document.body.appendChild(a);
            a.click()
            a.remove();
        }
    }

</script>
<style>
    td {
        font-size: 13px
    }
</style>

</html>
